/* src/app/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.ir_pm { 
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
